header{
    text-align: center;
    margin-top: 90px;
}
#img1{
    height: 30px;
}
#a1,#a2,#a3{
    padding-left: 25px;
    text-decoration: none;
    color: black;
}
#a3{
    padding-right: 500px;
}
#but1{
    margin-right: 20px;
    border-radius: 20px;
    font-size: 11px;
    padding: 6px 15px 6px 15px;
    background-color: white;
}
#but2{
    border-radius: 20px;
    font-size: 11px;
    padding: 6px 15px 6px 15px;
    background-color: black;
    color: white;
}
#aside1{
    text-align: center;
    background-color: #016241;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1125px;
    margin-left: 385px;
    font-size: 25px;
}
#h{
    padding-top: 25px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
#p{
    padding-bottom: 30px;
    margin-top: 10px;
}
p{
    margin-bottom: 10px;
}
#a4{
    color: white;
}
#aside2,#aside3{
    text-align: center;
    background-color: #D40032;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1125px;
    margin-left: 385px;
    font-size: 25px;
}
#img2{
    float: left;
    height: 324px;
    width: 500px;
}
#but3{
    border-radius: 20px;
    font-size: 16px;
    padding: 6px 15px 6px 15px;
    background-color: #D40032;
    border-color: white;
    color: white;
    margin-bottom: 20px;
}
#img3{
    float: right;
    height: 270px;
    width: 570px;
    margin-right: 20px;
}
hr{
    width: 1100px;
    text-align: center;
}
#inst{
    height: 30px;
}
footer{
    padding-left: 390px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}